{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12">
        <div class="margenes margen-regular anchoLibre">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/tableroTorneo.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
                	<br>
			<div class="row">
			    <div class="col-md-1"><!--sinDefinir--></div>
        		<div class="col-md-10">
					<div class="col-md-12 ">
						<div class="text-center text-gray">
							<div class="col-md-4 ">
								<table style="width: 100%;">
									<tr>
										<td>
											<img style="width: 50px; height: 50px;" src="{{ asset('bundles/app/images/gallery/icons/proximas_fechas.svg') }}" alt="">
										</td>
										<td style="width: 5px;"></td>
										<td>
											<h4 align="left" style="font-weight: bold;">PRÓXIMAS FECHAS, PARTODOS Y HORARIOS</h4>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-md-8 ">
								<div class="row">
									<div class="col-md-12 ">
										<div class="text-center">
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-6">
												<h4 align="right" style="font-weight: bold;">ENERO 2017<img style="width: 15px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/subirBajar.svg') }}" alt=""></h4>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br>
					<div class="row">
						<div class="col-md-12">
								<br>
								<table align="center" style="width: 100%">
									<tr class="text-center">
										<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 5px 0px 0px 0px ;">
											LUNES
										</td>
										<td style="width:  5px;background-color:#EF424B;"></td>
										<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 0px 0px 0px 0px ;">
											MARTES
										</td>
										<td style="width:  5px;background-color:#EF424B;"></td>
										<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 0px 0px 0px 0px ;">
											MIERCOLES
										</td>
										<td style="width:  5px;background-color:#EF424B;"></td>
										<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 0px 0px 0px 0px ;">
											JUEVES
										</td>
										<td style="width:  5px;background-color:#EF424B;"></td>
										<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 0px 0px 0px 0px ;">
											VIERNES
										</td>
										<td style="width:  5px;background-color:#EF424B;"></td>
										<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 0px 0px 0px 0px ;">
											SABADO
										</td>
										<td style="width:  5px;background-color:#EF424B;"></td>
										<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 0px 5px 0px 0px ;">
											DOMINGO
										</td>
									</tr>
									<tr>
										<td colspan="2" style="height: 5px"></td>
									</tr>
								</table>
								<table class="text-gray" style="width: 100%">
									<tr style="">
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 0px 0px ;">
											26
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											27
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											28
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											29
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											30
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											31
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											1
										</td>
									</tr>
									<tr>
										<td colspan="2" style="height: 5px"></td>
									</tr>
									<tr>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 0px 0px ;">
											2
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											3
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											4
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: black; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											5
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											6
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											7
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											8
										</td>
									</tr>
									<tr>
										<td colspan="2" style="height: 5px"></td>
									</tr>
									<tr>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 0px 0px ;">
											9
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											10
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											11
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											12
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											13
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											14
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											15
										</td>
									</tr>
									<tr>
										<td colspan="2" style="height: 5px"></td>
									</tr>
									<tr>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 0px 0px ;">
											16
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											17
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											18
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											19
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											20
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(131, 131, 131, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											21
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_gris.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											22
										</td>
									</tr>
									<tr>
										<td colspan="2" style="height: 5px"></td>
									</tr>
									<tr>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 0px 0px ;">
											23
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(0, 0, 0, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											24
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_rojo.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											25
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(0, 0, 0, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											26
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_rojo.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											27
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(0, 0, 0, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											28
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_rojo.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											29
										</td>
									</tr>
									<tr>
										<td colspan="2" style="height: 5px"></td>
									</tr>
									<tr>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 0px 0px ;">
											30
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(0, 0, 0, 0.7); height: 60px; width: 140px; color: white; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											31
											<img align="right" style="width: 20px; height: 20px; " src="{{ asset('bundles/app/images/gallery/icons/balon_rojo.svg') }}" alt="">
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											1
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											2

										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											3
										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											4

										</td>
										<td style="width:  5px"></td>
										<td style="background-color: rgba(255, 255, 255, 0.5); height: 60px; width: 140px; color: #7F7B7B; font-weight: bold; border-radius: 5px 5px 5px 5px ;">
											5
										</td>
									</tr>
									<tr>
										<td colspan="2" style="height: 5px"></td>
									</tr>

								</table>
								<br><br>

						</div>
						<br>
					</div>
				</div>
				<div class="col-md-1"><!--sinDefinir--></div>
			</div>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
