{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12">
        <div class="margenes margen-regular anchoLibre">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/tableroTorneo.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
                	<br>
			<div class="row">
			    <div class="col-md-1"><!--sinDefinir--></div>
        		<div class="col-md-10">
					<div class="col-md-12 ">
						<div class="text-center">
							<div class="col-md-6 ">
								<h4 class="text-gray" style="font-weight: bold;"><img style="width: 40px; height: 50px;" src="{{ asset('bundles/app/images/gallery/icons/compartir2.svg') }}" alt=""> COMPARTIR RESULTADO DEL PARTIDO</h4>
							</div>
							<div class="col-md-6 ">
								<div class="row">
									<div class="col-md-12 ">
										<div class="text-center">
											<div class="col-md-3"><!--sindefinir--></div>
											<div class="col-md-3"><!--sindefinir--></div>
											<div class="col-md-3"><!--sindefinir--></div>
											<div class="col-md-3">
												<a href="{{path('select_compartir')}}" id="vocalArbitros" data-toggle="modal" data-target=".bs-m4-modal-lg" class="btn btn-default btn-block text-white" style="font-size: 12px; font-weight: bold; width: 150px;height: 50px; background-color: #465059;"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/compartir1.svg') }}" alt="">&nbsp;&nbsp;&nbsp;Compartir</a>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br><br><br><br>
					<div class="row">
						<div class="col-md-12">
							<div class="text-center">
								<div class="panel-ttpf1 panel-danger">
									<div class="panel-heading" style="background-color:#EF424B; height: 40px; text-align: center;color: white; font-weight: bold; text-align: left;">

											SELECCIONA TU CUENTA DE PREFERENCIA PARA PUBLICAR
									</div>

									<div class="panel-body fondo-blanco">
										<div class="col-md-12 ">
											<div class="text-center">
												<br><br>
												<div class="row">
									  				<div class="col-md-1"><!--sinDefinir--></div>
									    				<div class="col-md-10">
											  				<div class="row">

																<div class="text-center">
																	<div class="col-md-3">
															  			<a href="{{path('compartir_facebook_2')}}"><img class="size-conectar-cuentas" src="{{ asset('bundles/app/images/buttons/facebook.png') }}" class="img-thumbnail" alt=""></a>
															  		</div>
															  		<div class="col-md-3">
															  		<a href=""><img class="size-conectar-cuentas" src="{{ asset('bundles/app/images/buttons/twitter.png') }}" class="img-thumbnail" alt=""></a>
															  		</div>
															  		<div class="col-md-3">
															  		<a href=""><img class="size-conectar-cuentas" src="{{ asset('bundles/app/images/buttons/instagram.png') }}" class="img-thumbnail" alt=""></a>
															  		</div>
															  		<div class="col-md-3">
															  		<a href=""><img class="size-conectar-cuentas" src="{{ asset('bundles/app/images/buttons/mail.png') }}" class="img-thumbnail" alt=""></a>
															  		</div>
																</div>
															</div>
															<div class="row">
																<div class="text-center">
																	<div class="col-md-3">
																		<br>
															  			<img src="http://lorempixel.com/50/50/" class="img-thumbnail border-thumbnail" alt="">
															  			<br>
															  			<br>
															  			<div class="text-center text-gray">
															  				José Luis Coba
															  			</div>
															  			<br>

															  		</div>
															  		<div class="col-md-3">
																		<br>
															  			<img src="http://lorempixel.com/50/50/" class="img-thumbnail border-thumbnail" alt="">
															  			<br>
															  			<br>
															  			<div class="text-center text-gray">
															  				José Luis Coba
															  			</div>
															  			<br>

															  		</div>
															  		<div class="col-md-3">
																		<br>
															  			<img src="http://lorempixel.com/50/50/" class="img-circle border-thumbnail" alt="">
															  			<br>
															  			<br>
															  			<div class="text-center text-gray">
															  				José Luis Coba
															  			</div>
															  			<br>

															  		</div>
															  		<div class="col-md-3">
																		<br>
															  			<img src="http://lorempixel.com/50/50/" class="img-circle border-thumbnail" alt="">
															  			<br>
															  			<br>
															  			<div class="text-center text-gray">
															  				José Luis Coba
															  			</div>
															  			<br>

															  		</div>
																</div>
															</div>
														</div>
													<div class="col-md-1"><!--sinDefinir--></div>
												</div>
												<br><br>
											</div>
											<br>
										</div>
										<br>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
				<div class="col-md-1"><!--sinDefinir--></div>
			</div>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
