{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12">
        <div class="margenes margen-regular anchoLibre">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/tableroTorneo.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
                	<br>
			<div class="row">
			    <div class="col-md-1"><!--sinDefinir--></div>
        		<div class="col-md-10">
					<div class="col-md-12 ">
						<div class="text-center">
							<div class="col-md-4 ">
								<table style="width: 100%;">
									<tr>
										<td>
											<img style="width: 50px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/tabla_expulsiones.svg') }}" alt="">
										</td>
										<td style="width: 5px;"></td>
										<td>
											<h4 class="text-gray" align="left" style="font-weight: bold;">TABLA DE EXPULSIONES Y AMONESTACIONES</h4>
										</td>
									</tr>
								</table>

							</div>
							<div class="col-md-8 ">
								<div class="row">
									<div class="col-md-12 ">
										<div class="text-center">
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-6">
												<!--sindefinir-->
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br>

					<div class="row">
						<div class="col-md-12">
								<br>
								<table style="width: 100%;" class="" >
										<tr>
											<td>
												<table id="example" align="center" style="width: 90%;" class="table fondo-blanco">

												<tr style="text-align: center;">
													<td style="background-color:#EF424B; height: 30px; border-radius: 5px 0px 0px 0px;">

													</td>
													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold; width: 190px; ">
														JUGADOR <img style="width: 10px; height: 15px;" src="{{ asset('bundles/app/images/gallery/icons/subirBajar_blanco.svg') }}" alt="">
													</td>
													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold;">

													</td>

													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold; ">
														T.AMARILLAS <img style="width: 10px; height: 15px;" src="{{ asset('bundles/app/images/gallery/icons/subirBajar_blanco.svg') }}" alt="">
													</td>
													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold; ">
														T.ROJAS <img style="width: 10px; height: 15px;" src="{{ asset('bundles/app/images/gallery/icons/subirBajar_blanco.svg') }}" alt="">
													</td>
													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold; ">
														EQUIPO <img style="width: 10px; height: 15px;" src="{{ asset('bundles/app/images/gallery/icons/subirBajar_blanco.svg') }}" alt="">
													</td>


													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold;width: 110px; ">

													</td>

													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold;width: 110px; ">

													</td>

													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold;width: 110px; border-radius: 0px 5px 0px 0px;">

													</td>
												</tr>

												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Arquero
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														6
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														6
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 8
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 1
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														5
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														5
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 6
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 2
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 1
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 2
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 1
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 3
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 4
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 5
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 5
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 7
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>

												<div class="jugador-tabla-expulsiones">
													<img style="width: 453px; height: 453px;" src="{{ asset('bundles/app/images/gallery/tarjetas_amarilla.svg') }}" alt="">
												</div>
											</table>

											</td>
										</tr>



									</table>

								<br><br>

						</div>
						<br>
					</div>
				</div>
				<div class="col-md-1"><!--sinDefinir--></div>
			</div>
		<!--***********************VENTANA MODAL**************************************-->
		<div class="modal fade bs-m4-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

						<div class="row">
							<div class="col-md-5" style="background-color: #323232;color:white;height: 640px;">
								<div class="row">
									<div class="col-md-12"></div>
								</div>
								<div class="row">
								  	<div class="col-md-12 text-center">
								  		<br>
								  		<img style="width: 150px; height: 200px;" src="{{ asset('bundles/app/images/gallery/perfilRojo.jpg') }}">
								  	</div>
								</div>
								<div class="row">
									<div class="col-md-12 text-center"><br>Seleccione su foto de Perfil</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-4">
										<img src="{{ asset('bundles/app/images/gallery/perfilRojo.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
									</div>
									<div class="col-md-4">
										<img src="{{ asset('bundles/app/images/gallery/perfilVerde.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
									</div>
									<div class="col-md-4">
										<img src="{{ asset('bundles/app/images/gallery/perfilAzul.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 text-right">
										<img src="{{ asset('bundles/app/images/gallery/perfilAzulClaro.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
									</div>
									<div class="col-md-6 text-left">
										<img src="{{ asset('bundles/app/images/gallery/perfilAmarillo.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-12 text-center">
										<a href="" class="btn btn-success">Adquirir fotografía</a>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="row">
									<div class="col-md-12" style="font-size: 23px; color:#505050;font-weight: bold;padding-top: 2%">
										Datos del Jugador
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">NOMBRE:</p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
									      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>

								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">APELLIDO: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
									      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">EDAD: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
									      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">CORREO ELECTRÓNICO: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
									      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">TELÉFONO: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
									      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">POSICIÓN: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
									      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">POSICIÓN 1 EN LA CANCHA: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
											<select name="" id="" class="form-control" style="border:0px;background-color: transparent;">
												<option value="Volante">Volante</option>
												<option value="Medio campo">Medio campo</option>
												<option value="Delantero">Delantero</option>
												<option value="Arquero">Arquero</option>
												<option value="Defensa">Defensa</option>
											</select>
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">POSICIÓN 2 EN LA CANCHA: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
											<select name="" id="" class="form-control" style="border:0px;background-color: transparent;">
												<option value="Volante">Volante</option>
												<option value="Medio campo">Medio campo</option>
												<option value="Delantero">Delantero</option>
												<option value="Arquero">Arquero</option>
												<option value="Defensa">Defensa</option>
											</select>
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">NÚMERO DE CAMISETA: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
									      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<div class="row">
									<div class="col-md-5">
										<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">DESIGNE 2 CAPITANES: </p>
									</div>
									<div class="col-md-7">
										<div class="input-group">
									      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
									      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
									    </div>
									</div>
								</div>
								<hr style="border: 1px dashed #505050;margin:0px;">
								<br>
								<div class="row">
									<div class="col-md-12 text-center" style="font-size: 20px; color:#505050">
										<div class="col-md-6">
											<a data-dismiss='modal' class="btn btn-danger" style="background-color: #F0424B;width: 140px;height: 40px; font-size: 20px;font-weight: bold">Actualizar</a>
										</div>
										<div class="col-md-6">
											<a data-dismiss='modal' class="btn btn-danger" style="background-color: #F0424B;width: 140px;height: 40px; font-size: 20px;font-weight: bold">Aceptar</a>
										</div>
									</div>
								</div>
							</div>
						</div>

				</div>
			</div>
		</div>


		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').DataTable();
			} );
		</script>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
