{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12">
        <div class="margenes margen-regular anchoLibre">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/tableroTorneo.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
                	<br>
			<div class="row">
			    <div class="col-md-1"><!--sinDefinir--></div>
        		<div class="col-md-10">
					<div class="col-md-12 ">
						<div class="text-center">
							<div class="col-md-4 ">
								<table style="width: 100%;">
									<tr>
										<td>
											<img style="width: 50px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/tabla_goleadores.svg') }}" alt="">
										</td>
										<td style="width: 5px;"></td>
										<td>
											<h4 class="text-gray" align="left" style="font-weight: bold;">TABLA GOLEADORES</h4>
										</td>
									</tr>
								</table>

							</div>
							<div class="col-md-8 ">
								<div class="row">
									<div class="col-md-12 ">
										<div class="text-center">
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-2"><!--sindefinir--></div>
											<div class="col-md-6">
												<!--sindefinir-->
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br>

					<div class="row">
						<div class="col-md-12">
								<br>
								<table style="width: 100%;" class="" >
										<tr>
											<td>
												<table id="example" align="center" style="width: 90%;" class="table fondo-blanco">

												<tr style="text-align: center;">
													<td style="background-color:#EF424B; height: 30px; border-radius: 5px 0px 0px 0px;">

													</td>
													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold; width: 190px; ">
														JUGADOR <img style="width: 10px; height: 15px;" src="{{ asset('bundles/app/images/gallery/icons/subirBajar_blanco.svg') }}" alt="">
													</td>
													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold;">

													</td>

													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold; ">
														GOLES <img style="width: 10px; height: 15px;" src="{{ asset('bundles/app/images/gallery/icons/subirBajar_blanco.svg') }}" alt="">
													</td>
													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold; ">
														EQUIPO <img style="width: 10px; height: 15px;" src="{{ asset('bundles/app/images/gallery/icons/subirBajar_blanco.svg') }}" alt="">
													</td>


													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold;width: 150px; ">

													</td>

													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold;width: 150px; ">

													</td>

													<td style="background-color:#EF424B; height: 30px; color: white; font-weight: bold;width: 150px; border-radius: 0px 5px 0px 0px;">

													</td>
												</tr>

												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Arquero
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														6
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 8
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 1
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														5
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 6
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 2
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 1
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 2
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 1
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 3
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 4
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 5
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>
												<tr style="border-bottom:1px solid #475159; text-align: center; ">
													<td style="color: #465059; height: 30px;">
														<img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/camara_posiciones.svg') }}" alt="">
													</td>
													<td style="color: #465059; height: 30px;  font-weight: bold;">
														Jugador 5
													</td>
													<td style="color: #465059; height: 30px; color: white; font-weight: bold;">
														<a href="" data-toggle="modal" data-target=".bs-m4-modal-lg"> <img style="width: 30px; height: 30px;" src="{{ asset('bundles/app/images/gallery/icons/ver_jugador.svg') }}" alt=""></a>
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold; ">
														3
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">
														Equipo 7
													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
													<td style="color: #465059; height: 30px; font-weight: bold;">

													</td>
												</tr>

												<div class="jugador-tabla-goleadores">
													<img style="width: 1000px; height: 1000px;" src="{{ asset('bundles/app/images/gallery/jugador_tabla_goleadores.svg') }}" alt="">
												</div>
											</table>

											</td>
										</tr>



									</table>

								<br><br>

						</div>
						<br>
					</div>
				</div>
				<div class="col-md-1"><!--sinDefinir--></div>
			</div>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
