{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12">
        <div class="margenes margen-regular anchoLibre">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/tableroTorneo.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="text-gray" style="font-weight: bold;">
                                <img style="width: 50px; height: 50px;" src="{{ asset('bundles/app/images/gallery/icons/fixture_gris.svg') }}" alt="">
                                FIXTURE COMPLETO
                            </h4>
                        </div>

                        <div class="col-md-2"><!--
                            <a id="" class="btn btn-success btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row" >
                                    <div class="col-md-2 div-nowrap">

                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                         <b>TORNEO COMBINADO</b>
                                    </div>
                                </div>
                            </a>-->

                        </div>

                        <div class="col-md-2"><!--
                            <a hid="torneoGrupos" class="btn  bg-gray-light btn-block"  style="height: 63px;vertical-align:middle;line-height:50px;text-align: :center"> <b>GRUPOS</b></a>-->
                        </div>
                        <div class="col-md-2">
                            <a hid="torneoGrupos" class="btn bg-gray-light btn-block" style="height: 63px;vertical-align:middle;line-height:50px;text-align: :center"><b><img style="width: 50px; height: 50px;" src="{{ asset('bundles/app/images/gallery/icons/playoff.svg') }}" alt="">PLAYOFF</b></a>
                        </div>
                        <div class="col-md-2">
                            <a hid="torneoGrupos" class="btn btn-danger btn-block" style="height: 63px;vertical-align:middle;line-height:50px;text-align: :center"><b>FECHAS</b></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="panel-ttpf1 panel-default">
                                        <div class="panel-heading  bg-danger text-white text-center">
                                            <b> INFORMACIÓN</b>
                                        </div>
                                        <div class="panel-body">
                                            <div class="panel-ttpf1 panel-default">
                                                <div class="panel-heading bg-gray-light">
                                                    <h3 class="panel-title text-center text-gray2" style="font-weight:bold;font-size: 12px;">NÚMERO DE EQUIPOS</h3>
                                                </div>
                                                <div class="panel-body text-gray bg-white">
                                                    <b>8 Equipos</b> <span><i style="float: right" class="fa fa-pencil text-gray"></i></span>
                                                </div>
                                            </div>
                                            <div class="panel-ttpf1 panel-default">
                                                <div class="panel-heading bg-gray-light">
                                                    <h3 class="panel-title text-center text-gray2" style="font-weight:bold;font-size: 12px;">NÚMERO DE GRUPOS</h3>
                                                </div>
                                                <div class="panel-body text-gray bg-white">
                                                    <b>2 Grupos</b> <span><i style="float: right" class="fa fa-pencil text-gray"></i></span>
                                                </div>
                                            </div>
                                            <div class="panel-ttpf1 panel-default">
                                                <div class="panel-heading bg-gray-light">
                                                    <h3 class="panel-title text-center text-gray2" style="font-weight:bold;font-size: 12px;">EQUIPOS POR GRUPO</h3>
                                                </div>
                                                <div class="panel-body text-gray bg-white">
                                                    <b>4 Equipos por Grupo</b> <span><i style="float: right" class="fa fa-pencil text-gray"></i></span>
                                                </div>
                                            </div>
                                            <div class="panel-ttpf1 panel-default">
                                                <div class="panel-heading bg-gray-light">
                                                    <h3 class="panel-title text-center text-gray2" style="font-weight:bold;font-size: 12px;">PARTIDOS IDA Y VUELTA</h3>
                                                </div>
                                                <div class="panel-body text-gray bg-white">
                                                    <b>Partidos de Ida</b> <span><i style="float: right" class="fa fa-pencil text-gray"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="panel-ttpf1 panel-default">
                                        <div class="panel-heading  bg-danger text-white">
                                            <b> MODALIDAD DE TORNEO POR PLAYOFF</b> <span style="float: right;font-weight: bold;">LLAVES</span>
                                        </div>
                                        <div class="panel-body bg-white" style="overflow: scroll;width: 100% !important">
                                            <div style="width: 1000px !important">
                                                <table  width="100%" class="text-black" >
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">
                                                                <a href="" class="btn btn-danger btn-block btn-lg">Cuartos de Final</a>
                                                            </th>
                                                            <th colspan="2">
                                                            </th>
                                                            <th colspan="2">
                                                                <a href="" class="btn btn-danger btn-block btn-lg">Semifinal</a>
                                                            </th>
                                                            <th colspan="2"></th>
                                                            <th colspan="2"><a href="" class="btn btn-danger btn-block btn-lg">Final</a></th>
                                                            <th colspan="2"></th>
                                                            <th colspan="2"><a href="" class="btn btn-danger btn-block btn-lg">Semifinal</a></th>
                                                            <th colspan="2"></th>
                                                            <th colspan="2"><a href="" class="btn btn-danger btn-block btn-lg">Cuartos de Final</a></th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2" style="height: 10px;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                03 de Nov. de 2016
                                                            </td>

                                                            <td colspan="6" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;"></td>
                                                            <td colspan="2" class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                03 de Nov. de 2016
                                                            </td>
                                                            <td colspan="6" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">

                                                            </td>
                                                            <td colspan="2" class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                03 de Nov. de 2016
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td colspan="6"></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td colspan="4"></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td nowrap class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td style="border-top: 2px solid #9F9F9F;border-right: 2px solid #9F9F9F;width: 20px;"></td>
                                                            <td colspan="4" style="border-right: 2px solid #9F9F9F;"></td>
                                                            <td style="border-top: 2px solid #9F9F9F"></td>
                                                            <td nowrap class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td style="border-top: 2px solid #9F9F9F;border-right: 2px solid #9F9F9F;"></td>
                                                            <td colspan="3"></td>



                                                            <td></td>
                                                            <td style="border-top: 2px solid #9F9F9F;border-left: 2px solid #9F9F9F;"></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" nowrap class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                19:00 - Futbol City - Cancha 2
                                                            </td>
                                                            <td style="border-right: 2px solid #9F9F9F;"></td>
                                                            <td style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;"></td>
                                                            <td colspan="2" nowrap class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                03 de Nov. de 2016
                                                            </td>
                                                            <td style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;border-right: 2px solid #9F9F9F;">
                                                            </td>
                                                            <td style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">

                                                            </td>
                                                            <td colspan="2" nowrap class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                19:00 - Futbol City - Cancha 2
                                                            </td>
                                                            <td style="padding:0%;height: 10px; border-right: 2px solid #9F9F9F;font-weight: bold;font-size: 10px;padding-left: 10px;">

                                                            </td>
                                                            <td style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">

                                                            </td>

                                                            <td colspan="2" nowrap class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                03 de Nov. de 2016
                                                            </td>
                                                            <td style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;border-right: 2px solid #9F9F9F;">

                                                            </td>
                                                            <td style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">

                                                            </td>
                                                            <td colspan="3" nowrap class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                19:00 - Futbol City - Cancha 2
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" style="border-right: 2px solid #9F9F9F;" style="height: 10px;">
                                                            </td>
                                                            <td style="border-bottom: 2px solid #9F9F9F;border-left: 2px solid #9F9F9F;"></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td style="border-bottom: 2px solid #9F9F9F;border-right: 2px solid #9F9F9F;"></td>
                                                            <td colspan="4" style="border-right: 2px solid #9F9F9F;"></td>
                                                            <td style="border-bottom: 2px solid #9F9F9F;"></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td style="border-bottom: 2px solid #9F9F9F;border-right: 2px solid #9F9F9F;"></td>
                                                            <td colspan="3"></td>

                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" style=" border-right: 2px solid #9F9F9F;"></td>
                                                            <td></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td colspan="5"></td>
                                                            <td></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td style="border-right: 2px solid #9F9F9F;"></td>
                                                            <td colspan="3"></td>

                                                        </tr>


                                                        <tr>
                                                            <td nowrap colspan="2" class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                03 de Nov. de 2016
                                                            </td>
                                                            <td nowrap style=" border-right: 2px solid #9F9F9F;"></td>
                                                            <td nowrap style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;"></td>
                                                            <td nowrap colspan="2" class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                19:00 - Futbol City - Cancha 2
                                                            </td>
                                                            <td nowrap colspan="6" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                            </td>
                                                            <td nowrap colspan="2" class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                19:00 - Futbol City - Cancha 2
                                                            </td>
                                                            <td nowrap style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;border-right: 2px solid #9F9F9F;">
                                                            </td>
                                                            <td nowrap style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                            </td>
                                                            <td nowrap colspan="2" class="bg-gray-light text-black" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                                03 de Nov. de 2016
                                                            </td>


                                                        </tr>
                                                        <tr>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td style="  border-bottom: 2px solid #9F9F9F;border-right: 2px solid #9F9F9F;"></td>
                                                            <td colspan="11"></td>
                                                            <td></td>
                                                            <td style="border-bottom: 2px solid #9F9F9F;border-left: 2px solid #9F9F9F;"></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>
                                                            <td colspan="12"></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="text-black bg-solid-white" style="line-height: 40px;padding: 0px; border-radius: 10px;">
                                                                <img id="img-superior" class="img-thumbnail-none img-size-ttp1" src="{{ asset('bundles/app/images/gallery/icons/escudo.svg') }}" alt=""><b>Equipo1</b>
                                                            </td>
                                                            <td class="text-center text-black bg-solid-white" style="font-size: 20px;padding: 0px; line-height:40px;font-weight: bold;">
                                                                0
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td nowrap colspan="2" class="bg-gray-light text-black" style="padding:0%; height: 10px; font-weight: bold; font-size: 10px; padding-left: 10px;">
                                                                19:00 - Futbol City - Cancha 2
                                                            </td>
                                                            <td colspan="14" style="padding:0%;height: 10px;font-weight: bold;font-size: 10px;padding-left: 10px;">
                                                            </td>

                                                            <td nowrap colspan="2" class="bg-gray-light text-black" style="padding:0%; height: 10px; font-weight: bold; font-size: 10px; padding-left: 10px;">
                                                                19:00 - Futbol City - Cancha 2
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
