{% extends 'AppBundle::inicio.html.twig' %}
{% block publicidad1 %}
<img  style="height:60px" class="img-thumbnail-none" src="{{ asset('bundles/app/images/publicidad/publicidad1.png') }}" alt="">
{% endblock %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}



<div class="row">
    <div class="col-md-12">
        <div class="margenes margen-regular anchoLibre">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/tableroTorneo.svg') }}" alt="">
            <div class="miContenedor bg-black">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/posiciones.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Tabla de Posiciones
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row" >
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/lugar.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Dirección donde se jugarán los Partidos
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/expulsiones.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Tabla de Expulsiones y Amonestaciones
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/imgConectarCuentas.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Conectar Cuentas
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/fixture.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Fixture Completo
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/goleadores.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Tabla de Goleadores
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/proximasfechas.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Próximas Fechas, Partidos y horarios
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/compartir.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Compartir Estadísticas
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/horarios.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Horarios y Fechas
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/asistencias.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Tabla de Asistencias
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/novedades.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Novedades del Torneo
                                    </div>
                                </div>
                            </a>
                            <a id="" class="btn btn-bordered btn-block text-white" href="{{path('info_equipos')}}">
                                <div class="row">
                                    <div class="col-md-2 div-nowrap">
                                        <img class="img-svg-size btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/postergados.svg') }}" alt="">
                                    </div>
                                    <div class="col-md-8 div-nowrap">
                                        Partidos Postergados
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--inicio publicidad-->
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/publicidad/publicidad2-tableroTorneo.png') }}" alt="">
                      </div>
                      <div class="col-md-4">
                        <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/publicidad/publicidad3-tableroTorneo.png') }}" alt="">
                      </div>
                    </div>
                    <!--fin publicidad-->
                </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <a id="" href="{{path('tabla_posiciones')}}" style="position: absolute; bottom: -50px;" class="btn btn-danger btn-scuare btn-block text-white"><img style="width: 50px; height: 50px;" class="btn-img-scuare" src="{{ asset('bundles/app/images/gallery/icons/libreta_editar.svg') }}" alt=""> INFORMACIÓN POR EQUIPOS</a>
              </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
