{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="margenes">
            <div class="miContenedor margen-login bg-black">
                <div class="container">
                    <div class="text-center">
                        <h3>Registro de Usuario</h3>
                        <br><br>
                        <form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Nombre de Usuario'|trans } }) }}
                    </div>
                    {{ form_errors(form.username) }}
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Email'|trans } }) }}
                    </div>
                    {{ form_errors(form.email) }}
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Contraseña'|trans } }) }}
                    </div>
                    {{ form_errors(form.plainPassword.first) }}
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Repita la Contraseña'|trans } }) }}
                    </div>
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_rest(form) }}
                    <!--div class="text-center text-mute">
                        <h4>Recibirá un mail <br> con los últimos datos registrados</h4>
                    </div-->
                    <br>
                    <br>
                    <input class="btn btn-danger btn-lg btn-block" type="submit" value="{{ 'Registrar'|trans }}">
                    <br>

                </div>
            </div>
            </form>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
            <img id="balon" class="balon img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/balon.png') }}" alt="">
        </div>
        <div class="row">
            <div class="col-md-12">
                <img id="img-superior" class="img-thumbnail-none publicidad1" src="{{ asset('bundles/app/images/publicidad/publicidad1.png') }}" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}