{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}
	<div class="row">
  		<div class="col-md-12 ">
  			<img class="img-thumbnail margen-superior" src="{{ asset('bundles/app/images/titleHead/tableroTorneo.svg') }}" alt="">
  			<div class="fondo-negro margen-estadisticas">
  				<div class="row">
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/posiciones.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Tabla de Posiciones</div>
  							</div>
  						</div></a>
  					</div>
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/fixture.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Fixture Completo</div>
  							</div>
  						</div></a>
  					</div>
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/horarios.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Honorarios y Fechas</div>
  							</div>
  						</div></a>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/direccionPartidos.svg') }}" alt=""></i></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Dirección donde se jugarán los Partidos</div>
  							</div>
  						</div>
  						</a>
  					</div>
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/goleadores.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Tabla de Goleadores</div>
  							</div>
  						</div>
  						</a>
  					</div>
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/asistencias.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Tabla de asistencias</div>
  							</div>
  						</div>
  						</a>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/expulsiones.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Tabla de Expulsiones y Amonestaciones</div>
  							</div>
  						</div>
  						</a>
  					</div>
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/proximasfechas.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Próximas Fechas, Partidos y horarios</div>
  							</div>
  						</div>
  						</a>
  					</div>
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/novedades.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Novedades del Torneo</div>
  							</div>
  						</div>
  						</a>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-md-4">
  						<a href="">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/imgConectarCuentas.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Conectar Cuentas</div>
  							</div>
  						</div>
  						</a>
  					</div>
  					<div class="col-md-4">
  						<a href="{{path('compartir_estadisticas')}}">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/compartir.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Compartir Estadísticas</div>
  							</div>
  						</div>
  						</a>
  					</div>
  					<div class="col-md-4">
  						<a href="{{path('partidos_postergados')}}">
  						<div style="width: 100%; height: 100px; border: 2px solid #EF424B;  border-radius: 5px; text-align: center; font-size: 20px; vertical-align: middle; margin-top: 2%;">
  							<div class="row">
  								<div class="col-md-2 text-white" style="font-size: 70px;padding-left: 8% "><img style="width: 60px; height: 60px;" src="{{ asset('bundles/app/images/gallery/icons/postergados.svg') }}" alt=""></div>
  								<div class="col-md-10 text-white" style="padding-top: 8%;">Partidos Postergados</div>
  							</div>
  						</div>
  						</a>
  					</div>
  				</div>
			</div>
			<img class="img-thumbnail" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
			<br>

  		</div>
  	</div>

{% endblock %}
