<div class="row">
	<div class="col-md-5" style="background-color: #323232;color:white;height: 640px;">
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row">
		  	<div class="col-md-12 text-center">
		  		<br>
		  		<img style="width: 150px; height: 200px;" src="{{ asset('bundles/app/images/gallery/perfilRojo.jpg') }}">
		  	</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center"><br>Seleccione su foto de Perfil</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
				<img src="{{ asset('bundles/app/images/gallery/perfilRojo.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
			</div>
			<div class="col-md-4">
				<img src="{{ asset('bundles/app/images/gallery/perfilVerde.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
			</div>
			<div class="col-md-4">
				<img src="{{ asset('bundles/app/images/gallery/perfilAzul.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-right">
				<img src="{{ asset('bundles/app/images/gallery/perfilAzulClaro.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
			</div>
			<div class="col-md-6 text-left">
				<img src="{{ asset('bundles/app/images/gallery/perfilAmarillo.jpg') }}" style="width: 50px; height: 50px;border-radius: 50px;border: 2px solid white" class="img-circle">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12 text-center">
				<a href="" class="btn btn-success">Adquirir fotografía</a>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-12" style="font-size: 23px; color:#505050;font-weight: bold;padding-top: 2%">
				Datos del Jugador
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">NOMBRE:</p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
			      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>

		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">APELLIDO: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
			      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">EDAD: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
			      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">CORREO ELECTRÓNICO: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
			      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">TELÉFONO: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
			      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">POSICIÓN: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
			      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">POSICIÓN 1 EN LA CANCHA: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
					<select name="" id="" class="form-control" style="border:0px;background-color: transparent;">
						<option value="Volante">Volante</option>
						<option value="Medio campo">Medio campo</option>
						<option value="Delantero">Delantero</option>
						<option value="Arquero">Arquero</option>
						<option value="Defensa">Defensa</option>
					</select>
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">POSICIÓN 2 EN LA CANCHA: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
					<select name="" id="" class="form-control" style="border:0px;background-color: transparent;">
						<option value="Volante">Volante</option>
						<option value="Medio campo">Medio campo</option>
						<option value="Delantero">Delantero</option>
						<option value="Arquero">Arquero</option>
						<option value="Defensa">Defensa</option>
					</select>
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">NÚMERO DE CAMISETA: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
			      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<div class="row">
			<div class="col-md-5">
				<p style="font-weight: bold;color: #505050;font-size: 10px; margin-top: 10%;margin-bottom: 10%;">DESIGNE 2 CAPITANES: </p>
			</div>
			<div class="col-md-7">
				<div class="input-group">
			      	<input type="text" style="border:0px;background-color: transparent;" class="form-control" id="">
			      	<div style="background-color: transparent;border:0px;" class="input-group-addon"><i style="font-size:20px;border-bottom: 1px solid #505050" class="fa fa-pencil"></i></div>
			    </div>
			</div>
		</div>
		<hr style="border: 1px dashed #505050;margin:0px;">
		<br>
		<div class="row">
			<div class="col-md-12 text-center" style="font-size: 20px; color:#505050">
				<a data-dismiss='modal' class="btn btn-danger" style="background-color: #F0424B;width: 200px;height: 40px; font-size: 20px;font-weight: bold">Registrar</a>
			</div>
		</div>
	</div>
</div>
